el-tabs(type="card" @tab-click="tabs", :active-name="$route.name")
  el-tab-pane(label="Basic" name="basic" router="basic")
  el-tab-pane(label="Advanced" name="advanced" router="advanced")
  el-tab-pane(label="WPS" name="wps" router="wps")
    