el-tabs(type="card" @tab-click="tabs", :active-name="$route.name")
  el-tab-pane(label="dmz" name="dmz" router="dmz")
  el-tab-pane(label="alg" name="alg" router="alg")
  el-tab-pane(label="upnp" name="upnp" router="upnp")
  el-tab-pane(label="virtualServer" name="virtualServer" router="virtualServer")