el-tabs(type="card" @tab-click="tabs", :active-name="$route.name")
  el-tab-pane(label="Local Upgrade" name="localUpgrade" router="localUpgrade")
  el-tab-pane(label="Online Upgrade" name="onlineUpgrade" router="onlineUpgrade")
  el-tab-pane(label="TR069" name="tr069" router="tr069")