
//-router-link(:to="/systemSettings") System Settings
//-el-tabs(type="card")
  el-tab-pane(label="Password Change" @click="router.push('changePassword')")
  el-tab-pane(label="System Settings" @click="router.push('systemSettings')")
  el-tab-pane(label="Bckup&Restore")