el-tabs(type="card" @tab-click="tabs", :active-name="$route.name")
  el-tab-pane(label="usb" name="usb" router="usb")
  el-tab-pane(label="storageShare" name="storageShare" router="storageShare")
  el-tab-pane(label="dlna" name="dlna" router="dlna")
  el-tab-pane(label="userSettings" name="userSettings" router="userSettings")