/*color*/
$color_main_level_1: #01a9f0;
$color_main_level_2: #0094d2;

$color_app_bg: #fff;
$color_header_bg: #fff;
$color_main_block_bg: #fff;

$color_footer_bg: $color_app_bg;

$color_sideMenu_bg: #f4f4f4;

$color_el_text_font: #1f2d3d;

$color_table_bg: #fff; 
$color_table_border: #eee;

$color_header_link_font: #c7c7c7;
$color_header_link_font_hover: $color_main_level_1;

$color_breadcrumb_font: #01a9f0;
$color_breadcrumb_borderBottom: #01a9f0;

$color_submenu_bg: #ededed;
$color_submenu_font: #535353;
$color_submenu_active_font: #535353;
$color_submenu_active_bg: $color_app_bg;
$color_submenu_border: #FFF;

$color_no_submenu_active_font: $color_main_level_1;
$color_no_submenu_active_bg: $color_app_bg;

$color_main_menu_font: #fff;
$color_main_menu_hover: #0094d2;
$color_main_menu_borderRight: #ddd;

$color_wifi_modeTitle_font: #01a9f0;

$color_step_finish_bg: $color_main_level_1;
$color_step_finish_font: #fff;
$color_step_finish_border: $color_main_level_1;

$color_step_process_bg: #c0ccda;
$color_step_process_font: #fff;
$color_step_process_border: #c0ccda;

$color_el_button_bg: #fff;
$color_el_button_font: #1F2D3D;
$color_el_button_border: #c0ccda;

$color_el_button_hover_bg: #fff;
$color_el_button_hover_font: #1F2D3D;
$color_el_button_hover_border: $color_main_level_1;

$color_el_button_primary_bg: $color_main_level_1;
$color_el_button_primary_font: #fff;
$color_el_button_primary_border: $color_main_level_1;

$color_el_button_primary_hover_bg: $color_main_level_2;
$color_el_button_primary_hover_font: #fff;
$color_el_button_primary_hover_border: $color_main_level_2;

$color_message_box_title_font: #fff;
$color_message_box_closeBtn: #fff;
$color_message_box_closeBtn_hover: #eee;

$color_gray666_font: #666;
$color_gray999_font: #999;
$color_grayNote_font: #5e6d82;

