.el-breadcrumb {
  padding: 24px 24px 24px 0;
  border-bottom: 1px solid #dee;
  margin-bottom: 10px;
  box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5);
}

.el-form {
  width: 540px;
  padding: 20px 0px;
}

.el-form-item__error {
  position: relative;
}

.main-block {
  border: 1px solid #eaeefb;
  border-radius: 4px;
  transition: .2s;
  &:hover,.hover{
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5);
  }
}
