el-tabs(type="card" @tab-click="tabs", :active-name="$route.name")
  el-tab-pane(label="WAN Status" name="wanStatus" router="wanStatus")
  el-tab-pane(label="WAN Configure" name="wanConfigure" router="wanConfigure")
  el-tab-pane(label="MAC Clone" name="macClone" router="macClone")
    