el-tabs(type="card" @tab-click="tabs", :active-name="$route.name")
  el-tab-pane(label="Mobile Connection" name="mobileConnection" router="mobileConnection")
  el-tab-pane(label="Monthly Plan" name="monthlyPlan" router="monthlyPlan")
  el-tab-pane(label="Network Settings" name="networkSettings" router="networkSettings")
  el-tab-pane(label="Profile Management" name="profileManagement" router="profileManagement")