
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486715139602'); /* IE9*/
  src: url('iconfont.eot?t=1486715139602#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486715139602') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486715139602') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486715139602#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-devicemgmt:before { content: "\e60a"; }

.icon-dailup:before { content: "\e60b"; }

.icon-deviceinfo:before { content: "\e60c"; }

.icon-natsetting:before { content: "\e60d"; }

.icon-security:before { content: "\e60f"; }

.icon-setup-wizard:before { content: "\e610"; }

.icon-SMS:before { content: "\e611"; }

.icon-statistics:before { content: "\e612"; }

.icon-upgrade:before { content: "\e613"; }

.icon-wlan:before { content: "\e614"; }

.icon-calllogs:before { content: "\e615"; }

.icon-status:before { content: "\e616"; }

.icon-share:before { content: "\e617"; }

.icon-reset:before { content: "\e618"; }

.icon-qos:before { content: "\e619"; }

.icon-lan:before { content: "\e61a"; }

.icon-wan:before { content: "\e61b"; }

